.login-container{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #007bff; /* Blue background color */
}

body{
    margin:0;
    font-family: 'Roboto', sans-serif;
}

  
.container {
    background-color: white; /* White box background color */
    padding: 40px; /* Increased padding for better spacing */
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    display:flex;
    flex-direction: column;
    align-items: center;
}
  
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
input {
  margin: 10px 0; /* Adjusted margin for better spacing */
  padding: 12px; /* Increased padding for input fields */
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none; /* Remove default input focus outline */
}
  
input[type="submit"],
.link-button {
    background-color: #007bff; /* Updated color */
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 12px;
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-button {
    display: inline-block;
    margin-top: 10px;
    width: auto;
    text-align: center; /* Center text for better presentation */
}

.link-button:hover,
input[type="submit"]:hover {
    background-color: #a1d9f0; /* Darker color on hover */
  }